<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form method="post" action="/" th:object="${formModel}">
		<input type="submit" value="書き込む">
		<label>名前</label><input type="text" name="name">
		<br><input type="textarea" name="text">
	</form>
	
	<table>
		<tr><th>投稿No.</th> <th>名前</th> <th>時刻</th> <th>テキスト</th></tr>
		<tr th:each="c : ${customers}">
			<td th:text="${c.id}"></td>
			<td th:text="${c.name}"></td>
			<td th:text="${c.datatime}"></td>
			<td th:text="${c.text}"></td>
		</tr>
	</table>
</body>
</html>